
  /* by id */
  #textboxes {
    width: 600px;
  }
section{
    margin-top: 30px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 83vh;
    
}


  header {
    background-color: #415a77;
    padding: 25px;
    text-align: justify;
  }

  .logo {
    display: inline-block;
    margin-right: 10px;
  }

  h1 {
    display: inline-block;
    margin: 0;
    color: #f1faee;
  }

  .rounded-image {
    border-radius: 50%;
  }
.backgroundimage{
    background-color: #415a77;
}
.txtareainputpath{
  top: 0px;
  left: 0px;
  width: 708.203px;
  height: 394px;
}
.container {
    display: flex;
    justify-content: space-between;
}
.textbox {
    width: 45%; /* Adjust the width as needed */
    margin-bottom: 10px; /* Optional: Add some space between the textboxes */
}
.iconsstyle{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}